This file contains a test from the function developed to insert the description of the variables in the database.

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
asegurados2013 = pd.read_csv('../Data/raw/asg_2013_01_31.csv', encoding="ISO-8859-1", sep="|", low_memory=False)
entidad = pd.read_excel('../Data/documentation/location_entidad.xlsx')

In [3]:
def get_dict_from_entidad():
    d = {}
    for index, row in entidad.iterrows():
        id = row["cve_entidad"]
        if id not in d:
            d[id] = row["name_entidad"]
    return d

In [4]:
d = get_dict_from_entidad()
print(d)

{1: 'Aguascalientes', 2: 'Baja California', 3: 'Baja California Sur', 4: 'Campeche', 5: 'Coahuila de Zaragoza', 6: 'Colima', 7: 'Chiapas', 8: 'Chihuahua', 9: 'Ciudad de México', 10: 'Durango', 11: 'Guanajuato', 12: 'Guerrero', 13: 'Hidalgo', 14: 'Jalisco', 15: 'Estado México', 16: 'Michoacán de Ocampo', 17: 'Morelos', 18: 'Nayarit', 19: 'Nuevo León', 20: 'Oaxaca', 21: 'Puebla', 22: 'Querétaro', 23: 'Quintana Roo', 24: 'San Luis Potosí', 25: 'Sinaloa', 26: 'Sonora', 27: 'Tabasco', 28: 'Tamaulipas', 29: 'Tlaxcala', 30: 'Veracruz de Ignacio de la Llave', 31: 'Yucatán', 32: 'Zacatecas'}

In [5]:
def get_entidad_name(x):
    return d[x]
asegurados2013["name_entidad"] = asegurados2013["cve_entidad"].apply(get_entidad_name)

In [6]:
asegurados2013.head()

,cve_delegacion,cve_subdelegacion,cve_entidad,cve_municipio,sector_economico_1,sector_economico_2,sector_economico_4,tamaño_patron,sexo,rango_edad,...,teu_sal,tec_sal,tpu_sal,tpc_sal,masa_sal_ta,masa_sal_teu,masa_sal_tec,masa_sal_tpu,masa_sal_tpc,name_entidad
0,1,1,1,A01,NaN,NaN,NaN,NaN,1,E1,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Aguascalientes
1,1,1,1,A01,NaN,NaN,NaN,NaN,1,E10,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Aguascalientes
2,1,1,1,A01,NaN,NaN,NaN,NaN,1,E11,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Aguascalientes
3,1,1,1,A01,NaN,NaN,NaN,NaN,1,E12,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Aguascalientes
4,1,1,1,A01,NaN,NaN,NaN,NaN,1,E13,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,Aguascalientes